<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Lab4ConnectionString" connectionString="Data Source=tcp:serverlab4.database.windows.net,1433;Initial Catalog=Lab4;Persist Security Info=True;User ID=has17@serverlab4;Password=J0s3B3g0"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>